[user]
  name = lubien
  email = lubien1996@gmail.com
[push]
  default = matching
[alias]
  a = add
  s = status -s
  d = diff

  cm = commit -m
  co = checkout

  ps = push
  pl = pull

  save = !git add -A && git commit -m "SAVEPOINT"
  wip = commit -am "WIP"

  undo = reset HEAD~1 --mixed

  ra = remote add
  rao = remote add origin

  # Source: http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

  fs = !git-fshow
[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
[github]
  user = lubien
