!  __   __
!  \ \ / /
!   \ V / _ __ ___  ___  ___  _   _ _ __ ___ ___  ___
!    > < | '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
!   / . \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
!  /_/ \_\_|  \___||___/\___/ \__,_|_|  \___\___||___/

! Extends {{{
#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

! Basic {{{1
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
XTerm*faceName: Source Code Pro for Powerline
XTerm*faceSize: 10

! Themes {{{1
/* ! Dracula {{{ */

/* *.background: #282A36 */
/* *.foreground: #F8F8F2 */
/* *.color0:     #000000 */
/* *.color8:     #4D4D4D */
/* *.color1:     #FF5555 */
/* *.color9:     #FF6E67 */
/* *.color2:     #50FA7B */
/* *.color10:    #5AF78E */
/* *.color3:     #F1FA8C */
/* *.color11:    #F4F99D */
/* *.color4:     #BD93F9 */
/* *.color12:    #CAA9FA */
/* *.color5:     #FF79C6 */
/* *.color13:    #FF92D0 */
/* *.color6:     #8BE9FD */
/* *.color14:    #9AEDFE */
/* *.color7:     #BFBFBF */
/* *.color15: #E6E6E6 */

/* ! Base16 Ocean {{{2 */
/* ! Scheme: Chris Kempson (http://chriskempson.com) */

/* #define base00 #2b303b */
/* #define base01 #343d46 */
/* #define base02 #4f5b66 */
/* #define base03 #65737e */
/* #define base04 #a7adba */
/* #define base05 #c0c5ce */
/* #define base06 #dfe1e8 */
/* #define base07 #eff1f5 */
/* #define base08 #bf616a */
/* #define base09 #d08770 */
/* #define base0A #ebcb8b */
/* #define base0B #a3be8c */
/* #define base0C #96b5b4 */
/* #define base0D #8fa1b3 */
/* #define base0E #b48ead */
/* #define base0F #ab7967 */

/* XTerm*background: base00 */
/* *foreground:   base05 */
/* #ifdef background_opacity */
/* *background:   [background_opacity]base00 */
/* #else */
/* *background:   base00 */
/* #endif */
/* *cursorColor:  base05 */

/* *color0:       base00 */
/* *color1:       base08 */
/* *color2:       base0B */
/* *color3:       base0A */
/* *color4:       base0D */
/* *color5:       base0E */
/* *color6:       base0C */
/* *color7:       base05 */

/* *color8:       base03 */
/* *color9:       base09 */
/* *color10:      base01 */
/* *color11:      base02 */
/* *color12:      base04 */
/* *color13:      base06 */
/* *color14:      base0F */
/* *color15:      base07 */

! OneDark {{{2
! https://github.com/joshdick/onedark.vim/blob/master/term/One%20Dark.Xresources

! special
*.foreground:   #ABB2BF
*.background:   #282C34
*.cursorColor:  #ABB2BF

! black
*.color0:       #282C34
*.color8:       #3E4452

! red
*.color1:       #E06C75
*.color9:       #BE5046

! green
*.color2:       #98C379
*.color10:      #98C379

! yellow
*.color3:       #E5C07B
*.color11:      #D19A66

! blue
*.color4:       #61AFEF
*.color12:      #61AFEF

! magenta
*.color5:       #C678DD
*.color13:      #C678DD

! cyan
*.color6:       #56B6C2
*.color14:      #56B6C2

! white
*.color7:       #ABB2BF
*.color15:      #5C6370
/* ! OneDark 2 {{{2 */
/* ! Base16 OneDark */
/* ! Scheme: Lalit Magant (http://github.com/tilal6991) */

/* #define base00 #282c34 */
/* #define base01 #353b45 */
/* #define base02 #3e4451 */
/* #define base03 #545862 */
/* #define base04 #565c64 */
/* #define base05 #abb2bf */
/* #define base06 #b6bdca */
/* #define base07 #c8ccd4 */
/* #define base08 #e06c75 */
/* #define base09 #d19a66 */
/* #define base0A #e5c07b */
/* #define base0B #98c379 */
/* #define base0C #56b6c2 */
/* #define base0D #61afef */
/* #define base0E #c678dd */
/* #define base0F #be5046 */

/* *foreground:   base05 */
/* *background:   base00 */
/* *cursorColor:  base05 */

/* *color0:       base00 */
/* *color1:       base08 */
/* *color2:       base0B */
/* *color3:       base0A */
/* *color4:       base0D */
/* *color5:       base0E */
/* *color6:       base0C */
/* *color7:       base05 */

/* *color8:       base03 */
/* *color9:       base08 */
/* *color10:      base0B */
/* *color11:      base0A */
/* *color12:      base0D */
/* *color13:      base0E */
/* *color14:      base0C */
/* *color15:      base07 */

/* ! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt), */
/* ! use 'shell' template to set these if necessary */
/* *color16:      base09 */
/* *color17:      base0F */
/* *color18:      base01 */
/* *color19:      base02 */
/* *color20:      base04 */
/* *color21: base06 */
/* ! Base16 Material {{{2 */
/* ! Scheme: Nate Peterson */

/* #define base00 #263238 */
/* #define base01 #2e3c43 */
/* #define base02 #314549 */
/* #define base03 #546e7a */
/* #define base04 #b2ccd6 */
/* #define base05 #eeffff */
/* #define base06 #eeffff */
/* #define base07 #ffffff */
/* #define base08 #f07178 */
/* #define base09 #f78c6c */
/* #define base0A #ffcb6b */
/* #define base0B #c3e88d */
/* #define base0C #89ddff */
/* #define base0D #82aaff */
/* #define base0E #c792ea */
/* #define base0F #ff5370 */

/* *foreground:   base05 */
/* #ifdef background_opacity */
/* *background:   [background_opacity]base00 */
/* #else */
/* *background:   base00 */
/* #endif */
/* *cursorColor:  base05 */

/* *color0:       base00 */
/* *color1:       base08 */
/* *color2:       base0B */
/* *color3:       base0A */
/* *color4:       base0D */
/* *color5:       base0E */
/* *color6:       base0C */
/* *color7:       base05 */

/* *color8:       base03 */
/* *color9:       base08 */
/* *color10:      base0B */
/* *color11:      base0A */
/* *color12:      base0D */
/* *color13:      base0E */
/* *color14:      base0C */
/* *color15:      base07 */

/* ! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt), */
/* ! use 'shell' template to set these if necessary */
/* *color16:      base09 */
/* *color17:      base0F */
/* *color18:      base01 */
/* *color19:      base02 */
/* *color20:      base04 */
/* *color21: base06 */
