!  __   __
!  \ \ / /
!   \ V / _ __ ___  ___  ___  _   _ _ __ ___ ___  ___
!    > < | '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
!   / . \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
!  /_/ \_\_|  \___||___/\___/ \__,_|_|  \___\___||___/

! Extends {{{
#if __has_include(".colors/dremora")
#include ".colors/dremora"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

! Basic {{{1
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
XTerm*faceName: Source Code Pro for Powerline
XTerm*faceSize: 12
XTerm*transparent: true
st.font: Liberation Mono:pixelsize=14:antialias=true:autohint=true;
st.borderpx:          18
XTerm*ttyModes:         erase ^?
XTerm*VT100.Translations: \
        #override <Key>BackSpace: string(0x7f) \n\
		  <Key>Delete:    string(0x1b) string("[3~")
XTerm*selectToClipboard: true
