snippet const
	const ${1} = ${2};

snippet let
	let ${1} = ${2};

snippet ar
	[${0}]

snippet ob
	{${0}}

snippet mt
	.${1}(${2})

snippet fn
	function ${1}(${2}) {
		${0}
	}

snippet gn
	function * ${1}(${2}) {
		${0}
	}

snippet cl
	console.log(${0})

snippet ct
	console.log('testing ${1}', ${0})

snippet ce
	console.error(${0})
