snippet imp
	import ${1} from '${2}'

snippet xp
	export ${0}

snippet xd
	export default ${0}

snippet const
	const ${1} = ${2}

snippet let
	let ${1} = ${2}

snippet ar
	[${0}]

snippet ob
	{${0}}

snippet mt
	.${1}(${2})${0}

snippet af
	${1} => ${0}

snippet afp
	(${1}) => ${0}

snippet fn
	function ${1}(${2}) {
		${0}
	}

snippet gn
	function * ${1}(${2}) {
		${0}
	}

snippet cl
	console.log(${1})

snippet ct
	console.log('testing${1}', ${2})
	${0}

snippet ce
	console.error(${1})
